@import "../themes/variable";

.cart {
    .container {
        h3 {
            font-size: $text-2xl;
            font-weight: $text-regular;
            line-height: 48px;
            padding-top: 49px;
            padding-bottom: 42px;
            border-bottom: 1px solid rgba(222, 221, 220, 1);
        }
        .cart-table {
            padding-top: 71.57px;
            .ant-table-wrapper {
                .ant-table-content {
                    .ant-table-thead > tr > th {
                        text-align: center;
                        @include text($text-2xl, $text-regular, $bg-c1-dark);
                        svg {
                            display: none;
                        }
                        .ant-checkbox-checked .ant-checkbox-inner {
                            background-color: #6200ee;
                            border: #6200ee;
                        }
                    }
                    .ant-table-tbody > tr > td {
                        text-align: center;
                        @include text($text-2xl, $text-regular, $bg-c1-dark);
                        .btn-1 {
                            box-shadow: 2px 1px 5px 1px $bg-c2-dark;
                            background: $bg-c1-light;
                            border-radius: 5px;
                            width: 30px;
                            height: 30px;
                        }
                        .btn-1:hover {
                            background: $bg-c1-linear;
                        }
                        .btn-edit {
                            width: 110px;
                            height: 38px;
                            @include text($text-xl, $text-bold, $bg-c1-dark);
                            border: 2px solid $bg-c3-light;
                            border-radius: 5px;    
                            background: $bg-c1-green;
                        }
                        .btn-delete {
                            width: 110px;
                            height: 38px;
                            @include text($text-xl, $text-bold, $bg-c1-dark);
                            border: 2px solid $bg-c3-light;
                            border-radius: 5px;  
                            background: $bg-c1-red;
                        }
                        .btn-edit:hover , .btn-delete:hover {
                            @include text($text-xl, $text-bold, $bg-c1-light);
                            background: $bg-c2-linear;
                        }
                        span.span-quantity {
                            background-color: $bg-c2-light;
                        }
                        .ant-checkbox-checked .ant-checkbox-inner {
                            background-color: $bg-c2-linear;
                            border: $bg-c2-linear;
                        }
                    }
                }
            }
            .btn-submit-order {
                @include text($text-2xl, $text-regular, $bg-c2-light);
                width: 170px;
                height: 45px;
                border-radius: 15px;
                background: $bg-c2-linear;
                margin-left: 83%;
                margin-top: 43px;
            }
            .btn-submit-order:hover {
                @include text($text-2xl, $text-regular, $bg-c1-dark);
                background: $bg-c1-secondary;
            }
        }
    }
}
